*.deb
*.rpm
*.tag.gz
recipes/*/debian7/
recipes/*/debian8/
recipes/*/centos6/
recipes/*/centos7/
recipes/*/ubuntu12.04/
recipes/*/ubuntu14.04/
recipes/*/ubuntu16.04/
cache/
tmp-build/
tmp-dest/
pkg/
fabfile.pyc
