# m h  dom mon dow  user command
 13 * * * *     zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status 
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.31 --filter '_31'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.32 --filter '_32'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.33 --filter '_33'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.34 --filter '_34'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.35 --filter '_35'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.36 --filter '_36'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.37 --filter '_37'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.38 --filter '_38'
 */5 * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 300 --proxy https://baboon-proxy.zalando pools --lock-file /var/lock/baboon-status.39 --filter '_39'
