# m h  dom mon dow  user command
 */15 * * * * zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_31'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_32'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_33'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_34'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_35'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_36'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_37'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_38'
 * * * * *    zalando  /usr/local/bin/baboon-status-fetcher --log-file /data/zalando/logs/baboon-status.zalando/fetcher.log --cachedir /tmp/baboon-status --sleep 60 --proxy https://baboon-proxy.zalando pools --filter '_39'
